<%= form_with(model: import, local: true) do |form| %>
  <% if import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(import.errors.count, "error") %> prohibited this import from being saved:</h2>

      <ul>
      <% import.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id, id: :import_id %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :import_title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :import_description %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :import_author %>
  </div>

  <div class="field">
    <%= form.label :tags %>
    <%= form.text_field :tags, id: :import_tags %>
  </div>

  <div class="field">
    <%= form.label :created_at %>
    <%= form.text_field :created_at, id: :import_created_at %>
  </div>

  <div class="field">
    <%= form.label :updated_at %>
    <%= form.text_field :updated_at, id: :import_updated_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
