<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @import.id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @import.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @import.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @import.author %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @import.tags %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @import.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @import.updated_at %>
</p>

<%= link_to 'Edit', edit_import_path(@import) %> |
<%= link_to 'Back', imports_path %>
